<!DOCTYPE html>
<html>
<head>
    <title>Agregar Estudiante</title>
</head>
<body>
    <h1>Agregar Estudiante</h1>
    <form method="post">
        Cédula: <input type="text" name="cedula"><br>
        Nombre: <input type="text" name="nombre"><br>
        Dirección: <input type="text" name="direccion"><br>
        Teléfono: <input type="text" name="telefono"><br>
        <input type="submit" value="Agregar Estudiante">
    </form>
    <a href="/">Volver a la lista</a>
</body>
</html>
